body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    background-color: chocolate;
    padding: 20px;
    color: white;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#home {
    text-align: center;
}

#about {
    text-align: center;
}

#menu {
    padding: 20px;
    text-align: center;
}

#food-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.food-item {
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.food-item img {
    width: 100%;
    border-radius: 8px;
}

footer {
    background-color: grey;
    color: white;
    text-align: center;
    
}
